# Site settings
course_name: Practical and Innovative Analytics in Data Science
course_description: "	This course focuses on the practical aspect of data science in the real world. In the course, students will learn to engage in a real-world project requiring them to apply skills from the entire data science pipeline: preparing, organizing, and transforming data, constructing a model, and evaluating results. Moreover, high-level descriptions of how to apply deep learning for computer vision and natural language problems will also be covered."
course_semester: "Spring 2023"

baseurl: "/nsysu-math608" # the subpath of your site, e.g. /blog/
url: "https://phonchi.github.io/" # the base hostname & protocol for your site

schoolname: "National Sun Yat-Sen University"
schoolurl: "https://www.nsysu.edu.tw/"
#twitter_username: username 

address: |
    No.70 Lien-hai Rd., Kaohsiung 80424, 
    Taiwan

# Set your Google Analytics tracking ID (set up yours at http://www.google.com/analytics/)
# google_analytics: UA-XXXXXXXX-X

### Do not change the followings unless you know what you are doing ###

# Build settings
markdown: kramdown

# Other options
permalink: blog/:year/:month/:title
excerpt_separator: "<!--more-->"

include: ['_images', '_css']
exclude: ['develop']

dateformat: "%m/%d/%Y"

future: true
collections:
    events:
        output: true
    lectures:
        output: true
    assignments:
        output: true
    announcements:
        output: false


defaults:
  - scope:
      path: ""
      type: "assignments"
    values:
      layout: "assignment"
  - scope:
      path: ""
      type: "events"
    values:
      layout: "event"

