<p>期中考試為 2021 年 11&nbsp;月 16&nbsp;日(二) 09:10~12:00<br />
目前已經將 2018&nbsp;和 2020 年統計學習古題上傳 (見 SCHEDULE)<br />
以下為期中考注意事項</p>

<p>1.&nbsp;請一定要寫考古題<br />
2. 考試能翻閱任何筆記及上網<br />
3. 考試期間不能和其他人進行交流 ( 禁止所有通訊軟體 )<br />
4.&nbsp;<span style="color:#ff0000;">發現作弊將直接以 0 分計算</span><br />
5. 請同學參考老師 Chapter_3_Lab 檔中 leverage、cook&nbsp;distance 相關的 plot 和公式等 coding。<br />
<br />
當天考試程序如下<br />
1.&nbsp;2021 年 11&nbsp;月 16&nbsp;日(二) 09:10 助教將上傳考試題目<br />
2. 2021 年 11&nbsp;月 16&nbsp;日(二) 09:10~12:00&nbsp;進行考試<br />
3. 2021 年 11&nbsp;月 16&nbsp;日(二) 12:10 前上傳至「網路大學作業區」( 助教當天將會開設繳交區 )<br />
<br />
繳交檔案格式<br />
&nbsp; &nbsp;程式 ( 繳交檔案兩份 )<br />
&nbsp; &nbsp;i.&nbsp; pdf 書面檔案 &nbsp;( 須包含程式與題目回答&nbsp;)<br />
&nbsp; &nbsp;ii.&nbsp;python 檔案 ( ipynb 檔&nbsp;)<br />
<br />
有任何其他問題可以使用<br />
電子郵件<br />
rf96410@gmail.com<br />
alan_chua921223@hotmail.com 詢問&nbsp;<br />
<br />
祝大家考試順利</p>
